<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ company.company_name }} Details</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar fade-in">
        <div class="container nav-flex">
            <a href="/" class="nav-logo">IPO Dashboard</a>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/full_list">All IPOs</a></li>
            </ul>
        </div>
    </nav>
    <div class="company-header">
        {% if company.logo_file %}
        <img src="{{ url_for('static', filename='logos/' + company.logo_file) }}" alt="{{ company.company_name }} Logo" class="company-logo">
        {% endif %}
        <div class="company-header-text">
            <h1>{{ company.company_name }}</h1>
            <p class="intro-text">
                {{ company.company_name }} IPO is a book build issue of {{ company.issue_amount }}. The issue is {{ company.issue_type }}.
            </p>
        </div>
    </div>
    <hr>
    <div class="company-summary fade-in">
        <p>
            {{ company.company_name }} IPO bidding opened for subscription on {{ company.opening_date }} and will close on {{ company.closing_date }}. The allotment for the {{ company.company_name }} IPO is expected to be finalized on {{ company.allotment_date }}. {{ company.company_name }} IPO will list on {{ company.listing_at }} with a tentative listing date fixed as {{ company.listing_date }}.
        </p>
        <p>
            {{ company.company_name }} IPO price band is set at ₹{{ company.issue_price }} per share. The lot size for an application is {{ company.lot_size }}. The minimum amount of investment required by a retail investor is ₹{{ company.retail_investment }} ({{ company.lot_size }} shares). The lot size investment for sNII is {{ company.snii_lots }} lots ({{ company.snii_shares }} shares), amounting to ₹{{ company.snii_investment }}, and for bNII, it is {{ company.bnii_lots }} lots ({{ company.bnii_shares }} shares), amounting to ₹{{ company.bnii_investment }}.
        </p>
        <p>
            {{ company.lead_manager }} is the book running lead manager and {{ company.registrar }} is the registrar of the issue.
        </p>
        <p>
            Refer to {{ company.company_name }} IPO RHP for detailed information.
        </p>
    </div>

    <div class="table-container fade-in">
        <div class="details-table-wrapper">
            <h3>IPO Details</h3>
            <table class="details-table">
                <tbody>
                    <tr><td>IPO Date</td><td>{{ company.ipo_date }}</td></tr>
                    <tr><td>Listing Date</td><td>{{ company.listing_date }}</td></tr>
                    <tr><td>Face Value</td><td>{{ company.face_value }}</td></tr>
                    <tr><td>Issue Price Band</td><td>{{ company.issue_price }}</td></tr>
                    <tr><td>Lot Size</td><td>{{ company.lot_size }}</td></tr>
                    <tr><td>Sale Type</td><td>{{ company.sale_type }}</td></tr>
                    <tr><td>Total Issue Size</td><td>{{ company.total_issue_size }}</td></tr>
                    <tr><td>Fresh Issue</td><td>{{ company.fresh_issue }}</td></tr>
                    <tr><td>Offer for Sale</td><td>{{ company.offer_for_sale }}{{')'}}</td></tr>
                    <tr><td>Issue Type</td><td>{{ company.issue_type }}</td></tr>
                    <tr><td>Listing At</td><td>{{ company.listing_at }}</td></tr>
                    <tr><td>Share Holding Pre Issue</td><td>{{ company.share_holding_pre_issue }}</td></tr>
                    <tr><td>Share Holding Post Issue</td><td>{{ company.share_holding_post_issue }}</td></tr>
                </tbody>
            </table>
        </div>
        <div class="timeline-table-wrapper">
            <h3>{{ timeline.company_name }}Timeline  (Tentative Timeline)</h3>
            <hr>
            <p>{{ timeline.company_name }} opens on {{ timeline.opening_date }} and closes on {{ timeline.closing_date }}.
            </p>
            {% if timeline %}
            <table class="details-table">
                <tbody>
                    <tr><td>IPO Open Date</td><td>{{ timeline.opening_date }}</td></tr>
                    <tr><td>IPO Close Date</td><td>{{ timeline.closing_date }}</td></tr>
                    <tr><td>Tentative Allotment</td><td>{{ timeline.tentative_allotment }}</td></tr>
                    <tr><td>Initiation of Refunds</td><td>{{ timeline.initiation_of_refunds }}</td></tr>
                    <tr><td>Credit of Shares to Demat</td><td>{{ timeline.credit_of_shares}}</td></tr>
                    <tr><td>Tentative Listing Date</td><td>{{ timeline.tentative_listing_date }}</td></tr>
                    <tr><td>Cut-off time for UPI mandate confirmation</td><td>{{ timeline.cut_off_for_upi_mandate }}</td></tr>
                </tbody>
            </table>
            {% else %}
            <p>No timeline data available for this company.</p>
            {% endif %}
        </div>
    </div>

    <div class="table-container fade-in">
        <div class="reservation-table-wrapper">
            <h3>{{reservation.company_name}} Reservation</h3>
            <hr>
            {% if reservation %}
            <table class="details-table">
                <thead>
                    <tr>
                        <th>Investor Category</th>
                        <th>Shares Offered</th>
                        <th>Maximum Allottees</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>QIB Shares Offered</td>
                        <td>{{ reservation.qib_shares_offered }}</td>
                        <td>NA</td>
                    </tr>
                    <tr>
                        <td>Anchor Investor Shares Offered</td>
                        <td>{{ reservation.anchor_investor_shares_offered }}</td>
                        <td>NA</td>
                    </tr>
                    <tr>
                        <td>QIB (Ex. Anchor) Shares Offered</td>
                        <td>{{ reservation.qib_ex_anchor_shares_offered }}</td>
                        <td>NA</td>
                    </tr>
                    <tr>
                        <td>NII (HNI) Shares Offered</td>
                        <td>{{ reservation.nii_hni_shares_offered }}</td>
                        <td>NA</td>
                    </tr>
                    <tr>
                        <td>Bnii > 10L</td>
                        <td>{{ reservation.bNII_10L }}</td>
                        <td>{{ reservation.bNII_10L_maximum_allottees }}</td>
                    </tr>
                    <tr>
                        <td>Snii < 10L</td>
                        <td>{{ reservation.sNII_10L  }}</td>
                        <td>{{ reservation.sNII_10L_maximum_allottees }}</td>
                    </tr>
                    <tr>
                        <td>Retail Shares Offered</td>
                        <td>{{ reservation.retail_shares_offered }}</td>
                        <td>{{ reservation.retail_shares_offered_maximum_allottees }}</td>
                    </tr>
                    <tr>
                        <td>Total Shares Offered</td>
                        <td>{{ reservation.total_shares_offered }}</td>
                        <td>NA</td>
                    </tr>
                </tbody>
            </table>
            {% else %}
            <p>No reservation data available for this company.</p>
            {% endif %}
        </div>

        <div class="lot-size-table-wrapper">
            <h3>{{ company.company_name }} Lot Size</h3>
            <hr>
            {% if lot_size %}
            <table class="details-table">
                <thead>
                    <tr>
                        <th>Application</th>
                        <th>Lots</th>
                        <th>Shares</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Retail (Min)</td>
                        <td>{{ lot_size.retail_min_lots }}</td>
                        <td>{{ lot_size.retail_min_shares }}</td>
                        <td>₹{{ lot_size.retail_min_amount }}</td>
                    </tr>
                    <tr>
                        <td>Retail (Max)</td>
                        <td>{{ lot_size.retail_max_lots }}</td>
                        <td>{{ lot_size.retail_max_shares }}</td>
                        <td>₹{{ lot_size.retail_max_amount }}</td>
                    </tr>
                    <tr>
                        <td>S-HNI (Min)</td>
                        <td>{{ lot_size.s_hni_min_lots }}</td>
                        <td>{{ lot_size.s_hni_min_shares }}</td>
                        <td>₹{{ lot_size.s_hni_min_amount }}</td>
                    </tr>
                    <tr>
                        <td>S-HNI (Max)</td>
                        <td>{{ lot_size.s_hni_max_lots }}</td>
                        <td>{{ lot_size.s_hni_max_shares }}</td>
                        <td>₹{{ lot_size.s_hni_max_amount }}</td>
                    </tr>
                    <tr>
                        <td>B-HNI (Min)</td>
                        <td>{{ lot_size.b_hni_min_lots }}</td>
                        <td>{{ lot_size.b_hni_min_shares }}</td>
                        <td>₹{{ lot_size.b_hni_min_amount }}</td>
                    </tr>
                    <tr>
                        <td>B-HNI (Max)</td>
                        <td>{{ lot_size.b_hni_max_lots }}</td>
                        <td>{{ lot_size.b_hni_max_shares }}</td>
                        <td>₹{{ lot_size.b_hni_max_amount }}</td>
                    </tr>
                </tbody>
            </table>
            {% else %}
            <p>No lot size data available for this company.</p>
            {% endif %}
        </div>
        </div>

    <div class="table-container fade-in">
    <div class="promoter-table-wrapper">
        <h3>{{ company.company_name }} Promoter Holding</h3>
        {% if promoter %}
<!--        <p class="promoter-names">-->
<!--            The promoters of the Company are Bhavesh Patel, Vishal Patel, Jayshreeben Patel, Jitendra Kumar Patel and Milcent Appliances Private Limited.-->
<!--        </p>-->
        <table class="promoter-holding-table">
            <tbody>
                <tr>
                    <td>Promoter Holding Pre Issue</td>
                    <td>{{ promoter.prmoter_holding_pre_issue }}</td>
                </tr>
                <tr>
                    <td>Promoter Holding Post Issue</td>
                    <td>{{ promoter.prmoter_holding_post_issue }}</td>
                </tr>
            </tbody>
        </table>
        {% else %}
        <p>No promoter data available for this company.</p>
        {% endif %}
        <p class="note">
            <span class="note-heading">Note :</span> The value will be calculated using Equity Dilution = Share Holding Pre Issue - Share Holding Post Issue
        </p>
    </div>
</div>

    <div class="back-link">
        <a href="/">Back to Home</a>
    </div>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Your Company Name. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>